MONGODB_URI=
NEXTAUTH_SECRET=
NEXTAUTH_URL=

ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=

EMAIL_HOST=
EMAIL_PORT=
EMAIL_USER=
EMAIL_PASSWORD=
EMAIL_FROM=
EMAIL_SECURE=
BUSINESS_CONTACT_EMAIL=
